{% extends 'school/base.html' %}
{% load static%}


{% block content %}
<!-- Inhoud -->
<div class="row">
  <div class="side">
    <h2>Muziekschool</h2>
    <h5>voor koperblazers en saxofoon</h5>
    <img class="afbeelding" src="{% static 'img/saxofoon.jpeg' %}" alt="saxofoon">
    <p>Evenals bij de klarinet, is bij de saxofoon aan de onderkant van het mondstuk, een enkel stuk riet bevestigd d.m.v. een metalen band (de saxofoon hoort dan ook bij de enkelriet-instrumenten).</p>
    <h3>Toonvorming</h3>
    <p>Om geluid uit de saxofoon te krijgen moet je lucht persen tussen het riet en het mondstuk. Hierdoor breng je het riet in trilling en wordt een toon gemaakt. Kleppen zorgen ervoor dat de gaten, die in de buis van het instrument zijn geboord, afgesloten kunnen worden. Door het indrukken of loslaten van deze kleppen, kun je op dit instrument verschillende tonen maken..</p>

  </div>
  <div class="main">

<h2>Welkom</h2>
<h5>bij onze school voor koperblazers en saxofoon!</h5>
<img class="afbeeldingmain" src="{% static 'img/trompet.jpeg' %}" alt="saxofoon">
<p>Zou het niet leuk zijn als u zelf saxofoon, trompet of een ander blaasinstrument zou kunnen spelen? Dat vergt natuurlijk veel oefening en het is belangrijk dat u daarbij de juiste hulp en ondersteuning krijgt. Hannah en Jesse kunnen die ondersteuning geven. Ze zijn beiden afgestudeerd aan het conservatorium en hebben veel ervaring met het geven van muziekles.</p><br>
<p>Wij geven onze lessen in een prachtig en functioneel pand, waarbij wij omwonenden niet kunnen storen. Ideaal om heerlijk te oefenen en te spelen op uw instrument. U kunt zowel individueel als groepsgewijs les krijgen.</p>
<br>
<h2>WIJ ZIJN GESPECIALISEERD</h2>
<h5>... in Jazz</h5>
<img class="afbeeldingmain" src="{% static 'img/saxoffon2.jpeg' %}" alt="saxofoon">
<p>Veel muziekscholen richten zich op klassieke muziek. Bij Hannah en Jesse kunt u echter ook les krijgen in jazzmuziek. Zoals u misschien weet, zijn koperblazers en saxofonisten een zeer belangrijk onderdeel bij jazz. Hannah en Jesse zijn grote jazzliefhebbers en hebben zich hierin gespecialiseerd.</p><br>
<p>Op deze website vindt u heel veel informatie over wat onze muziekschool te bieden heeft, maar u kunt natuurlijk altijd vrijblijvend langskomen om meer informatie te krijgen. U kunt dan ook kennismaken en kijken of u een klik heeft met Hannah en / of Jesse.</p>


{% endblock %}
