{% extends 'school/base.html' %}
{% load static%}


{% block content %}
<!-- Inhoud -->
<div class="row">
  <div class="side">
    <h2>Tarieven</h2>
    <p>Individuele les: €30,- per half uur.<hr>
    	Groepsles: Dezelfde prijs, per persoon dus €30.- gedeeld door het aantal deelnemers.<hr>
    Groepsles kinderen: €10,- per uur.</p>

  </div>
  <div class="main">
<h2>Voorwaarden</h2>
<h5>algemene voorwaarden - Muziekschool H&J</h5>
<p><b>Artikel 1</b>: Inschrijving<hr>
Inschrijving geschiedt door aanmelding bij het bureau van de muziekschool en door invulling en ondertekening van het inschrijformulier.
<br><br>
<b>Artikel 2</b>: Duur cursusjaar<hr>
Het cursusjaar loopt van 1 september tot en met 30 juni van het volgend jaar.
<br><br>
<b>Artikel 3</b>: Uitschrijving <hr>
<p>Tussentijdse beëindiging / opzegging is uitsluitend mogelijk na een schriftelijk verzoek.</p><br><br>

{% endblock %}
